/*

  Base structure and styling

*/

body {
  
  background: linear-gradient(
    90deg,
    rgba(71, 64, 191, 1) 0%,
    rgb(103, 103, 218) 35%,
    rgba(71, 64, 191, 1) 100%
  );
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
  margin: 505px auto;
  width: 60%;
  position: relative;
  font-size: 15px;
}


.robot-chat-bubble {

  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: rgb(218, 204, 224);
  height: 200px;

}

.available-jobs-info-box, .new-jobs-today-info-box {
  padding: 25px;
  font-size: 15px;
  font-weight: bold;
  display: none;
  border-color: rgb(247, 165, 229);
  border-radius: 25px;
  border: 1px;
  margin-right: 10px;
  border-style: solid;
  color: rgb(247, 165, 229);
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1pt;
}

.available-jobs-info-box {

  color:white;
  border-color: white;
 
}

.job-search-results-container {
  display: none;
  margin-top: 5px;
}



/* 

  Colors and gradients 

*/


.rainbow {
	background: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
}

.erlend-bg {
	background: linear-gradient(180deg, rgb(184, 228, 231) 16.66%,
		rgb(219, 152, 152) 16.66%, 33.32%,
		rgb(184, 228, 231) 33.32%, 49.98%,
		rgb(219, 152, 152)49.98%, 66.64%,
		rgb(184, 228, 231) 66.64%, 83.3%,
		rgb(219, 152, 152) 83.3%);
}




/*

   CSS Animations 

*/


.animation-flashing-background {

  -webkit-animation: BACKGROUND-CHAOS 1s ;  /* Safari 4+ */
  -moz-animation: BACKGROUND-CHAOS 1s ;  /* Fx 5+ */
  -o-animation: BACKGROUND-CHAOS 1s;  /* Opera 12+ */
  animation: BACKGROUND-CHAOS 1s;  /* IE 10+, Fx 29+ */
}

@keyframes BACKGROUND-CHAOS {
  0%, 25% {
    background: rgb(158, 87, 140);
    
  }
  25%, 50% {
    background: rgb(34, 34, 28);
  }


  50%, 60% {
    background: rgb(158, 87, 140);
  }

  60%, 65% {
    background: rgb(24, 46, 105);
  }
}


.animation-fade-in {
  animation: fadeInAnimation ease 3s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 


.animation-infinite-bouncing {
  animation-name: bounce-6;
  animation-timing-function: ease;
}
@keyframes bounce-6 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}




/* 

  The robot

*/

.robot {
  position: fixed;
  left: 10%;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.antenna {
  margin-left: 52.5px;
  width: 5px;
  height: 40px;
  background-color: white;
  border-radius: 2px 2px 0px 0px;
}

.head {
  margin-left: 2.5px;
  height: 100px;
  width: 105px;
  background-color: white;
  border-radius: 25px;
}

.mask {
  position: relative;
  top: 35px;
  left: 20px;
  height: 25px;
  width: 75px;
  background-color: black;
  border-radius: 12.5px;
  display: flex;
  justify-content: space-between;
}

.eye {
  margin: 4.5px 10px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 8px;
}

.eye-ball-left, .eye-ball-right {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
}

.torso {
  margin-top: 10px;
  background-color: white;
  width: 110px;
  height: 100px;
  border-radius: 25px 25px 50px 50px;
}






/* 

  Styling Finn.no HTML instead of extracting the data for now 

*/

.u-screen-reader-only {
  display: hidden;
}

article {
  margin-right: 25px;
  margin-top: 25px;
  padding: 25px;
  border-radius: 25px;
  width: 350px;
  color: rgb(229, 220, 230);
  border-top: solid 1px;
  border-color: rgb(216, 108, 216);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

article a {
  color: rgb(233, 145, 233);
  text-decoration: none;
  font-size: 16px;
}


#page-results-heading {
  display: none;
}

article img {
  width: 150px;
  display: none;
}

.ads {
 display: flex;
 flex-wrap: wrap;
}


